*, html {
	padding: 10;
	margin: 10;
}


canvas { 
	border: 1px solid black; 
	background-color: white; 
}

#function-code { 
	width: 535px; 
	height: 100px ; 
} 
 
textarea {
	-webkit-appearance: textarea;
	color: text;
	background-color: -apple-system-control-background;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	border-left-color: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	flex-direction: column;
	resize: auto;
	cursor: auto;
	padding-top: 2px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

input, textarea, keygen, select, button {
	margin-top: 0em;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	font-family: system-ui;
	font-variant-caps: normal;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
}